
.added {
    color: blueviolet;
    font-weight: bold;
}

.change-bg {
    background-color: black;
    color: yellow;
    text-decoration: underline;
}

.infocus {
    background-color: rgb(211, 210, 210);
    color: red;
    caret-color: indianred;
}

.dark-mode {
    background-color: black;
    color: white;
    transition: 0.5s all ease-in-out;
}